@import "../../styles/variables.scss";

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  .projects__container {
    // box-sizing: border-box;
    padding: 30px;
    h3 {
      color: $dark-text;
    }
  }
}

@media screen and (min-width: 700px) {
  .projects {
    .projects__container {
      padding: 30px 60px;
      max-width: 1200px;
    }
  }
}
